@import '../../styles/typography.scss';

.form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background: #f7f6f6;
  max-width: 556px;
  padding: 40px 60px 50px 40px;
  border-radius: 20px;
  width: auto;

  
  @media (max-width: 1200px) {
    width: 40%;
  }
  
  @media (max-width: 650px) {
    width: auto;
  }
  

  &__title {
    @include typography-secondary-24(600, 29px);
    text-align: center;
    margin-bottom: -6px;
  }

  &__input {
    padding: 40px 0 0;
    background: transparent;
    border: none;
    border-bottom: 2px solid #ccc;
    width: 100%;
  }

  &__submit {
    border: 2px solid black;
    margin-top: 15px;
    margin-bottom: 100px;
    width: 105%;
  }
}
