@import "../styles/typography.scss";

.select-wrapper {
  display: flex;
  justify-content: end;
  padding: 35px 0;
}

.card-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 54px 30px;
}

.select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='40' viewBox='0 0 24 24' width='40' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: -2px;
  border: 1px solid #dfdfdf;
  padding: 8px 75px 8px 10px;
  border-radius: 20px;

  @include typography-primary-16();

  text-align: left;
}

.input-number {
  width: 71px;
  height: 51px;
  top: 168px;
  left: 836px;
  border-radius: 6px;
  border: none;
  background: #f7f6f6;
  @include typography-secondary-14();
  text-align: center;
}

button {
  white-space: nowrap;
  background: transparent;
  border-radius: 20px;
  border: 2px solid black;
  padding: 9px 25px;

  @include typography-primary-14(400, 17px);
  text-align: center;

  @media (max-width: 965px) {
    font-size: 12px;
  }
}

img {
  width: 100%;
}
