@import '../../styles/typography.scss';

.cart-list {
  width: 100%;
  &__toolbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 95%;
  }

  &__title {
    @include typography-primary-14();
    text-align: center;
  }
}
