@import '../../styles/typography.scss';

.cart-item {
  display: flex;
  gap: 30px;
  padding: 25px 0 30px;

  &__content-block {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__text-block {
    max-width: 276px;
  }

  &__img {
    width: 175px;
    height: 175px;

    @media (max-width: 965px) {
      display: none;
    }
  }

  &__price {
    @include typography-primary-16(500);
    text-align: left;
  }

  &__actions {
    display: flex;
    gap: 30px;
    margin-top: 15px;
  }

  &__action {
    border: none;
    text-decoration: underline;
    padding: 0;
    @include typography-primary-14();
    text-align: center;
  }
}
